.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000; /* Black background for the main container */
}

.pass-input-div {
  position: relative;
}

.pass-input-div input {
  width: 100%;
  padding-right: 2.5rem; /* Space for the icon */
}

.pass-input-div .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-bottom-p {
  color: #aaa;
  text-align: center;
  margin-top: 20px;
}
