/* Logout.css */
.logout-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    text-align: center;
  }
  
  .logout-main h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .logout-main p {
    font-size: 1.25rem;
    color: #aaa; /* Light gray for the secondary text */
  }
  